@import 'src/assets/styles/variables';

.Modal {
  position: fixed;
  inset: 0;
  z-index: 20;
  opacity: 0;
  pointer-events: none;
  color: $color-white;


  .overlay {
    width: 100%;
    height: 100%;
    background-color: $color-blue-300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    -webkit-transition: 0.3s background-color;
    -o-transition: 0.3s background-color;
    transition: 0.3s background-color;
  }

  .content {
    padding: 10px;
    background: $color-blue-200;
    -webkit-transition: 0.4s -webkit-transform;
    -o-transition: 0.4s transform;
    transition: 0.4s transform, 0.4s -webkit-transform;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    max-width: 60%;
    position: absolute;
    z-index: 50;
  }
}


.opened {
  pointer-events: auto;
  opacity: 1;

  .content {
    //transform: scale(1);
    max-width: 60%;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.isClosing {
  .content {
    max-width: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}