@import "src/assets/styles/mixins";
@import "src/assets/styles/variables";

.Check {
  display: none;

  &:checked + .customCheck {
    background-image: url('../../../assets/svg/check.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
    background-color: $color-blue-150;
    border: 1px solid transparent;
  }
}

.customCheck {
  min-width: 30px;
  min-height: 30px;
  border: 1px solid $color-white;
  -webkit-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s;
  @include breakpoint-max($mlsBreakpoint) {
    min-width: 20px;
    min-height: 20px;
  }
  @include breakpoint-max($mpmBreakpoint) {
    min-width: 15px;
    min-height: 15px;
  }
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.label {
  @include align-center;
  gap: 8px;
  cursor: pointer;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.radio {
  border-radius: 50%;
}