@import "src/assets/styles/mixins";
@import "src/assets/styles/variables";

.CellModal {
  padding: 40px 40px 40px 75px !important;
  max-width: 90vw !important;
  height: 100%;
  min-height: 100vh;
  width: 600px;
  overflow: auto;
  @include column;
  gap: 37px;
  @include breakpoint-max($tlsBreakpoint) {
    padding: 60px 60px 60px 90px !important;
    max-width: 100vw !important;
    width: 100%;
  }
  @include breakpoint-max($mlsBreakpoint) {
    padding: 40px 40px 40px 75px !important;
  }
  @include breakpoint-max($mpmiBreakpoint) {
    padding: 30px 30px 30px 40px !important;
  }
  @include breakpoint-max($mpiBreakpoint) {
    padding: 20px 20px 20px 30px !important;
  }
  @include breakpoint-max($mpmBreakpoint) {
    padding: 24px 26px 12px 32px !important;
  }


  .wrapper_close {
    @include justify-flex-end;
    stroke: $color-white;

    .close {
      @include breakpoint-max($mpmBreakpoint) {
        width: 30px;
        height: 30px;
      }
      &:hover {
        svg {
          stroke: $color-blue-150;
        }
      }
    }
  }


  .title {
    margin-left: 15px;

  }

  .form {
    margin-top: 66px;
    padding-right: 17px;
    gap: 66px;
    @include column;



    .wrapper_checkbox {
      gap: 56px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      .check_label {
        margin-left: 20px;
      }

    }

    .submit {
      margin-top: 23px;
      height: 71px;
      max-width: 380px;
      width: 100%;

      .vector {
        @include breakpoint-max($tlsBreakpoint) {
          width: 15px;
          height: 15px;
        }
        @include breakpoint-max($mpmBreakpoint) {
          margin-left: 8px;
        }
      }

      @include breakpoint-max($mpmBreakpoint) {
        p {
          font-size: $font-size-xs;
          line-height: $font-line-xs;
        }
      }
    }
  }

  .wrapper_success{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 90px;
    height: 100%;
    margin-top: 128px;
  }

}