@import 'src/assets/styles/mixins';
@import 'src/assets/styles/variables';

.Text {

}

.raleway {
  .title, text {
    font-family: $font-primary !important;
  }
}

.montserrat {
  .title, .text {
    font-family: $font-secondary !important;
  }
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.bold {
  .title, .text {
    font-weight: 700 !important;
  }
}

.size_xxl {
  .title {
    font-size: $font-size-3xl;
    line-height: $font-line-3xl;
    @include breakpoint-max($lgBreakpoint) {
      font-size: $font-size-xxl;
      line-height: $font-line-xxl;
    }
    @include breakpoint-max($mlsBreakpoint) {
      font-size: $font-size-l;
      line-height: $font-line-l;
    }


  }

  .text {
    font-size: $font-size-xxl;
    line-height: $font-size-xxl;
    @include breakpoint-max($tpBreakpoint) {
      font-size: $font-size-xl;
      line-height: $font-line-xl;
    }
    @include breakpoint-max($mlsBreakpoint) {
      font-size: $font-size-l;
      line-height: $font-line-l;
    }
    @include breakpoint-max($mpmBreakpoint) {
      font-size: $font-size-m;
      line-height: $font-line-m;
    }
  }
}

.size_xl {
  .title {
    font-size: $font-size-xxl;
    line-height: $font-size-xxl;
    @include breakpoint-max($tpBreakpoint) {
      font-size: $font-size-xl;
      line-height: $font-line-xl;
    }
    @include breakpoint-max($mlsBreakpoint) {
      font-size: $font-size-l;
      line-height: $font-line-l;
    }
    @include breakpoint-max($mpmBreakpoint) {
      font-size: $font-size-m;
      line-height: $font-line-m;
    }
  }

  .text {
    font-size: $font-size-xl;
    line-height: $font-line-xl;

    @include breakpoint-max($mlsBreakpoint) {
      font-size: $font-size-l;
      line-height: $font-line-l;
    }
    @include breakpoint-max($mpmBreakpoint) {
      font-size: $font-size-m;
      line-height: $font-line-m;
    }
  }
}

.size_l {
  .title {
    font-size: $font-size-xl;
    line-height: $font-line-xl;

    @include breakpoint-max($mlsBreakpoint) {
      font-size: $font-size-l;
      line-height: $font-line-l;
    }
    @include breakpoint-max($mpmBreakpoint) {
      font-size: $font-size-m;
      line-height: $font-line-m;
    }
  }

  .text {
    font-size: $font-size-l;
    line-height: $font-line-l;

    @include breakpoint-max($mlsBreakpoint) {
      font-size: $font-size-m;
      line-height: $font-line-m;
    }
    @include breakpoint-max($mpmBreakpoint) {
      font-size: $font-size-s;
      line-height: $font-line-s;
    }
  }
}

.size_m {
  .title {
    font-size: $font-size-l;
    line-height: $font-line-l;

    @include breakpoint-max($mlsBreakpoint) {
      font-size: $font-size-m;
      line-height: $font-line-m;
    }
    @include breakpoint-max($mpmBreakpoint) {
      font-size: $font-size-s;
      line-height: $font-line-s;
    }
  }

  .text {
    font-size: $font-size-m;
    line-height: $font-line-m;

    @include breakpoint-max($mlsBreakpoint) {
      font-size: $font-size-s;
      line-height: $font-line-s;
    }
    @include breakpoint-max($mpiBreakpoint) {
      font-size: $font-size-xxs;
      line-height: $font-line-xxs;
    }
    @include breakpoint-max($mpmBreakpoint) {
      font-size: $font-size-3xs;
      line-height: $font-line-3xs;
    }
  }
}

.size_s {
  .title {
    font-size: $font-size-m;
    line-height: $font-line-m;

    @include breakpoint-max($tlsBreakpoint) {
      font-size: $font-size-s;
      line-height: $font-line-s;
    }
    @include breakpoint-max($mlsBreakpoint) {
      font-size: $font-size-xs;
      line-height: $font-line-xs;
    }
    @include breakpoint-max($mpmBreakpoint) {
      font-size: $font-size-3xs;
      line-height: $font-line-3xs;
    }
  }

  .text {
    font-size: $font-size-s;
    line-height: $font-line-s;

    @include breakpoint-max($tlsBreakpoint) {
      font-size: $font-size-xs;
      line-height: $font-line-xs;
    }
    @include breakpoint-max($mlsBreakpoint) {
      font-size: $font-size-xxs;
      line-height: $font-line-xxs;
    }
    @include breakpoint-max($mpmBreakpoint) {
      font-size: $font-size-3xs;
      line-height: $font-line-3xs;
    }
  }
}

.size_xs {
  .title {
    font-size: $font-size-s;
    line-height: $font-line-s;
  }

  .text {
    font-size: $font-size-xs;
    line-height: $font-line-xs;
  }
}


