$mpmBreakpoint: 320px;
$mpsBreakpoint: 360px;
$mpiBreakpoint: 375px;
$mpmiBreakpoint: 414px;
$mlsBreakpoint: 568px;
$tpBreakpoint: 768px;
$tlsBreakpoint: 1024px;
$lgBreakpoint: 1200px;
$xlBreakpoint: 1400px;


$font-primary: 'Raleway';
$font-secondary: 'Montserrat';


$color-white: #fff;
$color-white-50: #FFFFFF80;
$color-blue: #07305D;
$color-blue-50: #133457DE;
$color-blue-100: #0B3461;
$color-blue-150: #007BFF;
$color-blue-200: #0F1D45;
$color-blue-250: #0F1D4599;
$color-blue-300: #1334579e;
$color-grey: #707070;
$color-grey-100: #FFFFFF33;
$color-grey-150: #FFFFFF9C;


$font-size-3xl: 65px;
$font-line-3xl: 87.94px;

$font-size-xxl: 50px;
$font-line-xxl: 74.4px;

$font-size-xl: 40px;
$font-line-xl: 56.52px;

$font-size-xl-a: 30px;
$font-line-xl-a: 39.52px;

$font-size-l: 25px;
$font-line-l: 33.82px;

$font-size-m: 18px;
$font-line-m: 22.1px;

$font-size-s: 16px;
$font-line-s: 19.65px;

$font-size-xs: 14px;
$font-line-xs: 17.19px;

$font-size-xxs: 12px;
$font-line-xxs: 15.46px;

$font-size-3xs: 10px;
$font-line-3xs: 12.28px;

