@import 'src/assets/styles/mixins';
@import 'src/assets/styles/variables';

.Button {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: $font-size-m;
  line-height: $font-line-m;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 21px;
  @include breakpoint-max($mpmiBreakpoint) {
    padding: 0 0 0 10px;
  }
}

.addonLeft,
.addonRight {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 13px 13px 39px;
  @include flex-end-justify-center;
  height: 100%;

  @include breakpoint-max($mpmiBreakpoint) {
    padding: 0 8px 8px 20px;
    margin-left: auto;
  }
  @include breakpoint-max($mpmBreakpoint) {
    padding: 0 8px 8px 14px;
  }

}

.primary {
  background-color: $color-white;
  color: $color-blue;

  svg {
    stroke: $color-blue-100;

    path {
      stroke: $color-blue-100;
    }
  }

  .addonRight {
    border-left: 2px solid $color-blue-100;
  }

  &:hover {
    background-color: transparent;
    color: $color-white;
    -webkit-box-shadow: 0 0 0 2px $color-white inset;
    box-shadow: 0 0 0 2px $color-white inset;

    .addonRight {
      border-left: 2px solid $color-white;
    }

    svg {
      stroke: $color-white;

      path {
        stroke: $color-white;
      }
    }
  }

  &:active {
    -webkit-box-shadow: 0 0 0 2px $color-blue-150 inset;
    box-shadow: 0 0 0 2px $color-blue-150 inset;
    color: $color-blue-150;

    svg {
      stroke: $color-blue-150;

      path {
        stroke: $color-blue-150;
      }
    }

    .addonRight {
      border-left: 2px solid $color-blue-150;

    }
  }


}

.transparent {
  background-color: transparent;
  color: $color-white;
  -webkit-box-shadow: 0 0 0 2px $color-white inset;
  box-shadow: 0 0 0 2px $color-white inset;

  svg {
    stroke: $color-white;
  }

  .addonRight {
    border-left: 2px solid $color-white;
  }

  &:hover {
    background-color: $color-white;
    color: $color-blue;
    border: none;

    .addonRight {
      border-left: 2px solid $color-blue;
    }

    svg {
      stroke: $color-blue;

      path {
        stroke: $color-blue;
      }
    }
  }

  &:active {
    color: $color-blue-150;
    -webkit-box-shadow: 0 0 0 2px $color-blue-150 inset;
    box-shadow: 0 0 0 2px $color-blue-150 inset;

    svg {
      stroke: $color-blue-150;

      path {
        stroke: $color-blue-150;
      }
    }

    .addonRight {
      border-left: 2px solid $color-blue-150;
    }
  }

}


